*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #010103;
  color: white;
}
header {
  background: #010103;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: Koulen;
  display: flex; 
  justify-content: space-between;
}
header h1{
  color: white;
  font-size: 98px ;
  padding: 20px 0;
}
div{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 60px;
  font-size: large;
}
p{
  padding: 300px ;
  padding-left: 70px;
  padding-top: 120px;
  padding-bottom: 16px;
}
.botao{
  color: #010103;
  text-decoration: none;
  background-color: #CCD9CD;
  border-radius: 7px;
}
.carrossel {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
}

.slides {
  display: flex;
  animation: deslizar 12s infinite;
}

.slides img {
  width: 100%;
  flex-shrink: 0;
}

@keyframes deslizar {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}